registry = http://172.18.100.66:8081/nexus/content/groups/npm-all/

init.author.name = hms
init.author.email = houmingshan@xuechengjf.com
init.author.url = https://www.xuechengjf.com/
# an email is required to publish npm packages
email=houmingshan@xuechengjf.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=